body{
    margin:0;
    padding: 0;
}

.loginNavbar{
    color: black;
    overflow: hidden;
    background: linear-gradient(to right, #a51d4a, #020024);
    position: relative;
    top:0;
    display: flex;
    width: 100%;
    margin: auto;
}